@import "tailwindcss";


.custom-apercu {
  font-family: var(--font-apercu), sans-serif;
}
.custom-capcut {
  font-family: var(--font-capcut), sans-serif;
}
.custom-montagu {
  font-family: var(--font-montagu), serif;
}
.custom-roquen {
  font-family: var(--font-roquen), sans-serif;
}